@model prjRentalManagement.Models.apartment
@{
    ViewBag.Title = "List apartment for rent";
}
<h2>Add new apartment</h2>
@using (Html.BeginForm("CreateOwner", "Apartment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group mb-2">
        @Html.LabelFor(m => m.apartmentNo)
        @Html.EditorFor(m => m.apartmentNo, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group mb-2">
        @Html.LabelFor(m => m.nbRooms)
        @Html.EditorFor(m => m.nbRooms, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group mb-2">
        @Html.LabelFor(m => m.price)
        @Html.EditorFor(m => m.price, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group mb-2">
        @Html.LabelFor(m => m.status)
        @Html.DropDownListFor(m => m.status, new SelectList(new[] { "Available", "Unavailable" }), new { @class = "form-control" })
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(m => m.buildingId)
        @Html.DropDownList("buildingId", null, new { @class = "form-control" })
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />
}
<p class="mt-2">@Html.ActionLink("Back", "Index")</p>
@section Scripts { @Scripts.Render("~/bundles/jqueryval") }
